@media(min-width:2600px) and (max-width:2699px){
	.about-main.colored-bg::after { width: 40%;}
}

@media(min-width:2500px) and (max-width:2599px){
	.about-main.colored-bg::after { width: 40%;}
}

@media(min-width:2400px) and (max-width:2499px){
	.about-main.colored-bg::after { width: 40%;}
}

@media(min-width:2300px) and (max-width:2399px){
	.about-main.colored-bg::after { width: 39%;}
}

@media(min-width:2200px) and (max-width:2299px){
	.about-main.colored-bg::after { width: 39%;}
}

@media(min-width:2100px) and (max-width:2199px){
	.about-main.colored-bg::after { width: 38%;}
}

@media(min-width:2000px) and (max-width:2099px){
	.about-main.colored-bg::after { width: 38%;}
}

@media(min-width:1900px) and (max-width:1999px){
	.about-main.colored-bg::after { width: 37%;}
}

@media(min-width:1800px) and (max-width:1899px){
	.about-main.colored-bg::after { width: 36%;}
}

@media(min-width:1700px) and (max-width:1799px){
	.about-main.colored-bg::after { width: 35%;}
}

@media(min-width:1600px) and (max-width:1699px){
	.about-main.colored-bg::after { width: 38%;}
}

@media(min-width:1200px) and (max-width:1600px){
	body {font-size: 20px;}
	header .container{max-width: 1170px;}
	.container{max-width: 1170px;}
	.main-wrpper{height: 100%;overflow: hidden;}
	.common-title h2 { font-size: 34px; }

	/* header */
	.navbar-brand img {height: 55px;}
	.navbar-light .navbar-nav .nav-link {font-size: 16px;padding: 0px 0px 30px 0px;}
	.btn-nav {font-size: 16px;margin: 0 0 0 35px;}
	.navbar-light .navbar-nav li {margin-right: 30px;}
		
	/* hero */
	.hero-wrp {margin-top: 125px;}
	.hero-main h1 {font-size: 38px;}

	/* service */
	.service-title {margin: 0 auto 100px auto;}
	.service-grid .service-left { padding-right: 80px; }

	/* Partners Section */
	.partners .swiper-slide { width: 120px; }

	/* Highlight Section */
	.highlight .image-block { max-width: 280px; }
	.highlight .content-block { gap: 40px; }
	.highlight .text-block strong { font-size: 26px; }
	.highlight .text-block p { font-size: 20px; margin-bottom: 20px; }

	/* Gallery */
	.gallery .row { margin-inline: -15px; row-gap: 30px; }
	.gallery .row >* { padding-inline: 15px; }

	/* FAQs */
	.faq-title h6 { font-size: 20px; }
	.faq-desc p { font-size: 20px; padding-block: 10px; }
	.faq-item { padding: 24px 30px 24px 20px; }

	/* Center Shape Parent */
	.center-shape-parent .center-circle-shape { top: 100px; width: 1300px; }

	/* reach us */
	.reach-top .common-title h2 {font-size: 36px;}
	.reach-bottom ul li {margin-bottom: 32px;font-size: 20px;}
	.reach-bottom ul li p {min-width: 104px;}
	.reach-bottom ul li a {font-size: 20px;}
	
	/* about */
	.about-main .about-right { max-width: 760px; }
	.about-main .about-left { max-width: 360px; }
	.about-left .common-title { font-size: 36px; }
	/* .about-main.colored-bg::after { width: 33%;} */

	/* contact form */
	.contact-wrp { padding: 70px 0 40px 0; }

	/* footer */
	.footer-item p{font-size: 15px;}
	.footer-item ul li a{font-size: 15px;}
}

@media(min-width:1500px) and (max-width:1599px){
	.about-main.colored-bg::after { width: 37%;}
}
@media(min-width:1400px) and (max-width:1499px){
	.about-main.colored-bg::after { width: 36%;}
}
@media(min-width:1300px) and (max-width:1399px){
	.about-main.colored-bg::after { width: 35%;}
}
@media(min-width:1200px) and (max-width:1299px){
	.about-main.colored-bg::after { width: 33%;}
}

@media(min-width:993px) and (max-width:1199px){
	body {font-size: 18px;}
	header .container{max-width: 960px;}
	.container{max-width: 960px;}
	.main-wrpper{height: 100%;overflow: hidden;}
	.faqs ,
	.gallery ,
	.partners ,
	.highlight , 
	.references { padding-block: 30px; }
	.btn-gradient {font-size: 16px;}

	/* hero */
	.hero-wrp { margin-top: 86px; min-height: 500px; padding: 120px 0 40px 0;}
	.hero-main h1 {font-size: 36px;}
	.hero-left-line { bottom: -150px; width: 96%; }

	/* service */
	.service-title {margin: 0 auto 80px auto;}
	.service-grid .service-left { padding-right: 0px; }
	.service-title h2 {font-size: 28px;}
	.service-right h2 {font-size: 28px;}

	/* Partners Section */
	.partners .swiper-slide { width: 120px; }

	/* Highlight Section */
	.highlight .image-block { max-width: 240px; }
	.highlight .text-block strong { font-size: 24px; } 
	.highlight .text-block p { font-size: 18px; margin-bottom: 16px; }

	/* Gallery */
	.gallery-block { gap: 30px; }

	/* about */
	.about-main .about-right { max-width: 620px; }
	.about-main .about-left { max-width: 295px; }
	.about-left .common-title { font-size: 30px;margin-bottom: 50px; }

	/* reach us */
	.reach-top .common-title h2 {font-size: 32px;}
	.reach-bottom ul li div {gap: 56px;}
	.reach-bottom ul li {margin-bottom: 26px;font-size: 18px;}
	.reach-bottom ul li p {min-width: 104px;}
	.reach-bottom ul li a {font-size: 18px;}

	/* contact form */
	.contact-wrp { padding: 60px 0 40px 0; }
	.contact-main form label {font-size: 18px;}

	/* footer */
	.footer-item p{font-size: 15px;}
	.footer-item ul li a{font-size: 15px;}
	
}

/* **** Menu **** */
@media(max-width:1193px){	
	.navbar-collapse{ position: fixed; left: -100%; top: 0; min-height: 100vh; background: #fff; height: 100%; width: 100%; padding: 80px 0 20px; -webkit-transition: all 0.3s linear; transition: all 0.3s linear; }	
	header{padding: 20px 0;}
	ul.header-top{display: block;}
	ul.header-top li{margin: 0;font-size: 16px;}
	ul.header-top li a{font-size: 16px;padding: 5px 0;}
	ul.enter-nav{margin:25px 0 0;width: 100%;justify-content: center;}
	.navbar-brand img{height: 45px;}
	.navbar-collapse.collapse.show{ left: 0; }
	.navbar-light .navbar-nav{ margin: 0 auto; background: transparent; }
	.topbar,.navbar-brand{ position: relative; z-index: 121; }
	.navbar-toggler{ position: relative; z-index: 121; }
	.nav-row{flex-flow: column;padding: 0 15px;justify-content: flex-start;max-width: 540px;margin: 0 auto;height: calc(100vh - 100px);overflow: auto;}
	.header-nav-left{width: 100%;}
	.navbar-light .navbar-nav{ padding: 0; width: 100%; display: flex; align-items: center; justify-content: center; }
	.navbar-light .navbar-nav li{ margin: 0px; width: 100%; }
	.navbar-light .navbar-nav li:last-child{ margin: 20px 0 0 0; }
	.navbar-light .navbar-nav li .nav-link{ font-size: 16px; line-height: 24px; margin: 0 0; padding: 10px 0; display: flex; align-items: center; justify-content: space-between; }
	.navbar-light .navbar-nav li .dropdown-menu{display: none;opacity: 1;visibility: visible;padding: 0;}
	.navbar-light .navbar-nav li .dropdown-menu.show{display: block;}
	ul.enter-nav li a{font-size: 18px;}
	body.add-fix{
		overflow: hidden;
	}
	ul.header-top{border-top: 1px solid #324c77;padding: 20px 0;margin: 20px 0;}
	.navbar-light .navbar-nav .nav-link:after{display: none;}
	.header-nav-left{flex-flow: column-reverse;}
	.navbar-light .navbar-nav li .dropdown-menu li a{font-size: 14px;}
	.btn-nav{padding: 10px;width: 100%;text-align: center;font-size: 16px;margin: 0;}
}
/* **** End Menu **** */

@media(min-width:768px) and (max-width:992px){
	body {font-size: 16px;}
	header .container{max-width: 740px;}
	.hero-center .container{max-width: 740px;}
	.gt-roofing-wrp .container{max-width: 740px;}
	.container{max-width: 740px;}
	.main-wrpper{height: 100%;overflow: hidden;}
	.btn-main{font-size: 16px;}	
 	.common-title h2 { font-size: 28px; }
	.btn-gradient {font-size: 20px;}

	/* hero */
	.hero-wrp {margin-top: 86px; min-height: 480px; padding: 100px 0 40px 0; }
	.hero-main h1 {font-size: 34px;}
	.hero-left-line { height: 80%; width: 100%; }
	.hero-shape {width: 100%;}

	/* service */
	.service-title {margin: 0 auto 60px auto;}
	.service-grid .service-left { padding-right: 0px; margin-bottom: 40px;}
	.service-title h2 {font-size: 28px;}
	.service-right h2 {font-size: 28px; margin-top: 40px;}

	/* Highlight Section */
	.highlight .text-block p { font-size: 16px; margin-bottom: 12px; }
	.highlight .text-block strong { font-size: 20px; }
	.highlight .highlight-block { gap: 30px; }
	.highlight .content-block { gap: 30px; } 

	/* References Section */
	.references .references-block { gap: 16px; }

	/* FAQs */
	.faqs .faqs-block { gap: 16px; }

	/* Center Shape Parent */
  	.center-shape-parent .center-circle-shape { top: 100px; width: 1130px; left: -500px; }

	/* about */
	.about-main.colored-bg::after { display: none;}
	.about-main.colored-bg .col-left {
  background-color: #70a8c7;
}
	.about-left img {max-width: 190px;}
	.about-left .common-title { font-size: 30px;margin-bottom: 20px; }
	.about-main .about-right { max-width: 768px;margin: 0 auto;padding: 40px 20px; }
	.about-main .about-left { max-width: 768px;margin: 0 auto;padding: 40px 20px; }

	/* reach us */
	.reach-top .common-title h2 {font-size: 32px;}
	.reach-bottom ul li div {gap: 50px;}
	.reach-bottom ul li {margin-bottom: 26px;font-size: 16px;}
	.reach-bottom ul li p {min-width: 90px;}
	.reach-bottom ul li a {font-size: 16px;}

	/* contact form */
	.contact-wrp { padding: 60px 0 40px 0; }
	.contact-main form label {font-size: 16px;}
	.contact-bg {height: 40%;}

	/* footer */
	.footer-top{padding: 20px 0;gap: 24px;gap: 0;}
	.footer-item:first-child{width: 100%;margin: 0 0 40px;}
	.footer-item{width: 25%;}
	.footer-item img{max-width: 200px;}
	.footer-item p{font-size: 15px;margin: 0 0 10px;line-height: 24px;}
	.footer-item ul li a{font-size: 15px;line-height: 24px;}
}

@media(max-width:767px){
	body {font-size: 16px;}
	header .container{max-width: 540px;}
	.container{max-width: 540px;}
	.main-wrpper{height: 100%;overflow: hidden;}
	.btn-main{font-size: 16px;}
	.btn-gradient {font-size: 16px;}
	.faqs ,
	.gallery ,
	.partners ,
	.highlight , 
	.references { padding-block: 20px; }
	.common-title h2 { font-size: 24px; }
	
	/* hero */
	.hero-main h1 {font-size: 32px;}
	.hero-wrp {  min-height: 460px; margin-top: 86px; padding: 80px 0 40px 0; }
	.hero-left-line { height: 80%; width: 100%; }
	.hero-shape {width: 100%;}
	.hero-right-line img {object-fit: contain;}
.hero-left-line img {object-fit: contain;}
	
	
	/* service */
	.service-title {margin: 0 auto 60px auto;}
	.service-grid .service-left { padding-right: 0px; margin-bottom: 40px;}
	.service-title h2 {font-size: 26px;}
	.service-right h2 {font-size: 26px; margin-top: 40px;}

	/* Partners Section */
	.partners .swiper-slide { width: 110px; }

	/* Highlight Section */
	.highlight .content-block { flex-direction: column-reverse; }
	.highlight .text-block p { font-size: 16px; margin-bottom: 12px; }
	.highlight .text-block strong { font-size: 20px; }
	.highlight .highlight-block { gap: 30px; }
	.highlight .content-block { gap: 30px; } 

	/* References Section */
	.references .references-block { gap: 16px; }


	/* Gallery */
	.gallery-block { gap: 16px; }
	.gallery .row { margin-inline: -10px; row-gap: 20px; }
	.gallery .row >* { padding-inline: 10px; }

	/* FAQs */
	.faq-title h6 { font-size: 18px; }
	.faq-desc p { font-size: 18px; padding-block: 10px 0; }
	.faq-item { padding: 16px; }
	.faqs .faqs-block { gap: 16px; }

	/* Center Shape Parent */
	.center-shape-parent .center-circle-shape { top: 100px; width: 1400px; left: -700px; }

	/* about */
	.about-left img {max-width: 190px;}
	.about-left .common-title { font-size: 28px;margin-bottom: 20px; }
	.about-main .about-right { max-width: 555px;margin: 0 auto;padding: 40px 20px; }
	.about-main .about-left { max-width: 555px;margin: 0 auto;padding: 40px 20px; }

	/* reach us */
	.reach-top .common-title h2 {font-size: 28px;}
	.reach-bottom ul li div {gap: 32px;}
	.reach-bottom ul li {margin-bottom: 20px;font-size: 16px;}
	.reach-bottom ul li p {min-width: 90px;}
	.reach-bottom ul li a {font-size: 16px;}
	.reach-bottom ul li img {width: 28px;height: 28px;}

	/* contact form */
	.contact-wrp { padding: 40px 0 40px 0; }
	.contact-main form label {font-size: 16px;}
	.contact-bg {height: 30%;width: 50%;}

	/* footer */
	.footer-top{padding: 20px 0;gap: 24px;}
	.footer-item{width: 100%;}
	.footer-item figure{max-width: 200px;margin: 0 auto;}
	.footer-item p{font-size: 16px;margin: 0 0 10px;line-height: 24px;text-align: center;}
	.footer-item ul li a{font-size: 16px;line-height: 24px;text-align: center;display: block;}
}

@media(min-width:576px) and (max-width:767px){
	
}

@media (max-width:575px){

	/* hero */
	.hero-main h1 {font-size: 30px;}

	/* FAQs */
	.faq-title h6 { font-size: 16px; }
	.faq-desc p { font-size: 16px; }
	.faq-title::after { height: 22px; width: 22px; }

	/* Partners Section */
	.partners .swiper-slide { width: 100px; }

	/* about */
	.about-left img {max-width: 190px;}
	.about-left .common-title { font-size: 24px;margin-bottom: 20px; }
	.about-main .about-right { max-width: 100%;margin: 0 auto;padding: 32px 12px; }
	.about-main .about-left { max-width: 100%;margin: 0 auto;padding: 32px 12px; }

	/* reach us */
	.reach-top .common-title h2 {text-align: center;}
	.reach-bottom ul { padding-left: 0px; }
	.reach-bottom ul li {flex-direction: column;align-items: center;text-align: center;}
	.reach-bottom ul li div {flex-direction: column;align-items: center;gap: 8px;}
	.reach-bottom ul li:last-child div {align-items: center;}
	/* reach us */
}

@media(min-width:448px) and (max-width:575px){
	
}
